/* colors */

$primaryColor1: #003F5C;
$primaryColor2: #FFA600;
$secondaryColor1: #EF5675;
$secondaryColor2: #7A5195;
$dimmedColor: #003f5c63;

/* Fonts */

$fontOne: "Julius Sans One",
sons-serif;
$fontTwo: "Archivo Narrow",
sons-serif;
@mixin flex($der, $jC, $aI) {
    display: flex;
    flex-direction: $der;
    justify-content: $jC;
    align-items: $aI;
}

$breakpoints: ( 'small': 992px, 'medium': 1025px, 'large': 1200px) !default;
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.categories {
    .topBar {
        @include flex(row, space-between, center);
        .addSection {
            visibility: hidden;
            flex-basis: 50%;
            @include flex(row, space-between, center);
            .inputs {
                width: 50%;
            }
            button {
                width: 50%;
            }
            @include respond-to('medium') {
                visibility: visible;
            }
        }
        .add {
            @include respond-to('medium') {
                display: none;
            }
        }
    }
    .content {
        margin-top: 50px;
        @include flex(row, center, center);
        gap: 30px;
        flex-wrap: wrap;
        .category {
            min-width: 310px;
            text-align: center;
            border-radius: 10px;
            padding: 3%;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
            .smallerTitle {
                color: $primaryColor1;
                margin-bottom: 50px;
            }
            .actions {
                @include flex(row, center, center);
                gap: 50px;
                button {
                    border: none;
                    background-color: transparent;
                    width: max-content;
                    svg {
                        height: 19px;
                        width: 21px;
                    }
                    .delete {
                        fill: $secondaryColor1;
                    }
                    .edit {
                        fill: $primaryColor2;
                    }
                }
            }
        }
    }
}

.modalDiv {
    width: 100%;
    height: 0;
    top: 0;
    z-index: 2;
    .model {
        border-radius: 10px;
        padding: 3%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        position: relative;
        width: 60%;
        margin: auto;
        transition: 400ms;
        h1 {
            margin-bottom: 30px;
        }
        .close {
            position: absolute;
            right: 5%;
            top: 5%;
            display: block;
            svg {
                height: 20px;
                width: 20px;
                fill: $secondaryColor1;
            }
        }
        .addModalSection {
            .inputs {
                width: 100%;
                margin-bottom: 30px;
            }
            .btn {
                width: 100%;
            }
        }
    }
    .addModel {
        transform: translateY(-100%);
        z-index: 2;
    }
    .updateModel {
        transform: translateY(-200%);
        z-index: 2;
    }
}