/* colors */

$primaryColor1: #003F5C;
$primaryColor2: #FFA600;
$secondaryColor1: #EF5675;
$secondaryColor2: #7A5195;
$dimmedColor: #003f5c63;

/* Fonts */

$fontOne: "Julius Sans One",
sons-serif;
$fontTwo: "Archivo Narrow",
sons-serif;
@mixin flex($der, $jC, $aI) {
    display: flex;
    flex-direction: $der;
    justify-content: $jC;
    align-items: $aI;
}

$breakpoints: ( 'small': 992px, 'medium': 1025px, 'large': 1200px) !default;
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*****General Classes*****/

.bigTitle {
    font-family: "Julius Sans One", sons-serif;
    font-weight: normal;
    font-size: 50px;
}

.smallTitle {
    font-family: "Julius Sans One", sons-serif;
    font-weight: normal;
    font-size: 35px;
}

.smallerTitle {
    font-family: "Julius Sans One", sons-serif;
    font-weight: normal;
    font-size: 28px;
}

.menuLink {
    font-family: "Archivo Narrow", sons-serif;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
}

.menuLinkActive {
    font-family: "Archivo Narrow", sons-serif;
    font-weight: bold;
    font-size: 30px;
}

.link {
    font-family: $fontTwo;
    font-weight: bold;
    font-size: 20px;
}

.text {
    font-family: "Archivo Narrow", sons-serif;
    font-weight: normal;
    font-size: 25px;
}

.smallText {
    font-family: "Archivo Narrow", sons-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
}

.smallLinks {
    font-family: "Archivo Narrow", sons-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.01em;
}

.primaryBtn {
    border-radius: 5px;
    background: #003F5C;
    color: #FFA600;
    height: 50px;
    text-align: center;
    border: none;
    font-family: $fontTwo;
    font-size: 25px;
}

.secondaryBtn {
    border-radius: 5px;
    background: transparent;
    border: 2px solid #FFA600;
    color: #FFA600;
    height: 50px;
    text-align: center;
    font-family: $fontTwo;
    font-size: 25px;
}

.updateBtn {
    border-radius: 5px;
    background: #FFA600;
    color: #fff;
    height: 50px;
    text-align: center;
    font-family: $fontTwo;
    font-size: 25px;
    border: none;
}

.inputs {
    border-radius: 5px;
    border: 2px solid #003f5c63;
    height: 50px;
    font-family: $fontTwo;
    font-size: 25px;
    padding: 0px 10px;
}

.search {
    position: relative;
    width: 50px;
    display: inline-block;
    transition: width 1s ease-in-out;
    @include respond-to('medium') {
        width: 40%;
    }
    .searchInput {
        border-radius: 25px;
        box-shadow: 0px 0px 13px rgba(0, 63, 92, 0.4);
        width: 100%;
    }
    .btn {
        height: 40px;
        width: 40px;
        border-radius: 24px;
        background-color: $primaryColor1;
        border: none;
        @include flex(row, center, center);
        position: absolute;
        right: 5px;
        top: 5px;
        svg {
            height: 30px;
            width: 30px;
            fill: $primaryColor2;
        }
    }
    .showBtn {
        background-color: #fff;
        border: $primaryColor2;
        @include respond-to('medium') {
            display: none;
        }
    }
}

.searchStretch {
    width: 80%;
}

.add {
    position: relative;
    @include respond-to('medium') {
        width: 40%;
    }
    a {
        text-decoration: none;
        width: 50px;
        border-radius: 25px;
        @include flex(row, center, center);
        span {
            display: none;
        }
        @include respond-to('medium') {
            width: 100%;
            border-radius: 5px;
            span {
                display: inline-block;
            }
        }
    }
}


/*****Components*****/

.headerOne {
    height: 100px;
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    .logo {
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            img {
                height: 50%;
            }
            p {
                color: $primaryColor2;
                font-family: $fontTwo;
                font-size: clamp(18px, 24px, 30px);
            }
        }
    }
    .link {
        a {
            color: #fff;
            @include respond-to('large') {
                color: $primaryColor1;
            }
        }
    }
}

footer {
    height: 60px;
    background-color: $primaryColor1;
    @include flex(row, center, center);
    p {
        color: $primaryColor2;
        font-size: clamp(20px, 35px, 40px);
        font-family: $fontOne;
    }
}

.headerTwo {
    height: 100px;
    padding: 0px 30px;
    @include flex(row, space-between, center);
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 63, 92, 0.5);
    .profile {
        a {
            text-decoration: none;
            @include flex(row, center, center);
            gap: 20px;
            p {
                display: none;
                @include respond-to('medium') {
                    display: inline-block;
                    color: $secondaryColor2;
                }
            }
            .profileImg {
                width: 70px;
                height: 70px;
                overflow: hidden;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

main {
    @include flex(row, center, center);
    @include respond-to('medium') {
        @include flex(row-reverse, center, start);
        // background-color: red;
    }
    nav {
        bottom: 0;
        position: fixed;
        background-color: #003F5C;
        padding: 2%;
        width: 90%;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        @include respond-to('medium') {
            position: relative;
            padding: 50px 0px;
            height: calc(100vh - 100px);
            border-radius: 0px;
            width: 130px;
        }
        .navbar-nav {
            list-style-type: none;
            padding: 0;
            @include flex(row, space-around, space-around);
            @include respond-to('medium') {
                height: 100%;
                @include flex(column, space-around, space-between);
                & :last-child {
                    margin-top: auto;
                }
            }
            .nav-link {
                a {
                    text-decoration: none;
                    svg {
                        height: 35px;
                        width: 35px;
                        fill: #fff;
                    }
                    p {
                        display: none;
                    }
                }
                @include respond-to('medium') {
                    width: 130px;
                    margin-bottom: 50px;
                    a {
                        svg {
                            height: 50px;
                            width: 50px;
                        }
                        p {
                            display: block;
                            color: #fff;
                        }
                    }
                }
            }
            .logOut {
                display: none;
                @include respond-to('medium') {
                    display: inline;
                    margin-bottom: 0px;
                    a {
                        svg {
                            fill: $secondaryColor1;
                            height: 13px;
                            width: 15px;
                            display: inline;
                        }
                        p {
                            color: $secondaryColor1;
                            display: inline;
                        }
                    }
                }
            }
        }
    }
    section {
        padding: 5%;
        width: 100%;
    }
}