/* colors */
/* Fonts */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*****General Classes*****/
.bigTitle {
  font-family: "Julius Sans One", sons-serif;
  font-weight: normal;
  font-size: 50px;
}

.smallTitle {
  font-family: "Julius Sans One", sons-serif;
  font-weight: normal;
  font-size: 35px;
}

.smallerTitle {
  font-family: "Julius Sans One", sons-serif;
  font-weight: normal;
  font-size: 28px;
}

.menuLink {
  font-family: "Archivo Narrow", sons-serif;
  font-weight: normal;
  font-size: 30px;
  text-decoration: none;
}

.menuLinkActive {
  font-family: "Archivo Narrow", sons-serif;
  font-weight: bold;
  font-size: 30px;
}

.link {
  font-family: "Archivo Narrow", sons-serif;
  font-weight: bold;
  font-size: 20px;
}

.text {
  font-family: "Archivo Narrow", sons-serif;
  font-weight: normal;
  font-size: 25px;
}

.smallText {
  font-family: "Archivo Narrow", sons-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.smallLinks {
  font-family: "Archivo Narrow", sons-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.01em;
}

.primaryBtn {
  border-radius: 5px;
  background: #003F5C;
  color: #FFA600;
  height: 50px;
  text-align: center;
  border: none;
  font-family: "Archivo Narrow", sons-serif;
  font-size: 25px;
}

.secondaryBtn {
  border-radius: 5px;
  background: transparent;
  border: 2px solid #FFA600;
  color: #FFA600;
  height: 50px;
  text-align: center;
  font-family: "Archivo Narrow", sons-serif;
  font-size: 25px;
}

.updateBtn {
  border-radius: 5px;
  background: #FFA600;
  color: #fff;
  height: 50px;
  text-align: center;
  font-family: "Archivo Narrow", sons-serif;
  font-size: 25px;
  border: none;
}

.deleteBtn {
  border-radius: 5px;
  background: #EF5675;
  color: #fff;
  height: 50px;
  text-align: center;
  font-family: "Archivo Narrow", sons-serif;
  font-size: 25px;
  border: none;
}

.inputs {
  border-radius: 5px;
  border: 2px solid #003f5c63;
  height: 50px;
  font-family: "Archivo Narrow", sons-serif;
  font-size: 25px;
  padding: 0px 10px;
}

.search {
  position: relative;
  width: 50px;
  display: inline-block;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

@media (min-width: 1025px) {
  .search {
    width: 40%;
  }
}

.search .searchInput {
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 13px rgba(0, 63, 92, 0.4);
          box-shadow: 0px 0px 13px rgba(0, 63, 92, 0.4);
  width: 100%;
}

.search .btn {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  background-color: #003F5C;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
}

.search .btn svg {
  height: 30px;
  width: 30px;
  fill: #FFA600;
}

.search .showBtn {
  background-color: #fff;
  border: #FFA600;
}

@media (min-width: 1025px) {
  .search .showBtn {
    display: none;
  }
}

.searchStretch {
  width: 80%;
}

.add {
  position: relative;
}

@media (min-width: 1025px) {
  .add {
    width: 40%;
  }
}

.add .secondaryBtn {
  text-decoration: none;
  width: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add .secondaryBtn span {
  display: none;
}

@media (min-width: 1025px) {
  .add .secondaryBtn {
    width: 100%;
    border-radius: 5px;
  }
  .add .secondaryBtn span {
    display: inline-block;
  }
}

.errorSpan {
  font-family: "Archivo Narrow", sons-serif;
  font-size: 18px;
  margin-top: 20px;
  display: none;
  color: #EF5675;
}

/*****Components*****/
.headerOne {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
}

.headerOne .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.headerOne .logo a img {
  height: 50%;
}

.headerOne .logo a p {
  color: #FFA600;
  font-family: "Archivo Narrow", sons-serif;
  font-size: clamp(18px, 24px, 30px);
}

.headerOne .link a {
  color: #fff;
}

@media (min-width: 1200px) {
  .headerOne .link a {
    color: #003F5C;
  }
}

footer {
  height: 60px;
  background-color: #003F5C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #FFA600;
  font-size: clamp(20px, 35px, 40px);
  font-family: "Julius Sans One", sons-serif;
}

.headerTwo {
  height: 100px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 63, 92, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 63, 92, 0.5);
}

.headerTwo .profile a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.headerTwo .profile a p {
  display: none;
}

@media (min-width: 1025px) {
  .headerTwo .profile a p {
    display: inline-block;
    color: #7A5195;
  }
}

.headerTwo .profile a .profileImg {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.headerTwo .profile a .profileImg img {
  width: 100%;
  height: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

main nav {
  bottom: 0;
  position: fixed;
  background-color: #003F5C;
  padding: 2%;
  width: 90%;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (min-width: 1025px) {
  main nav {
    position: relative;
    padding: 50px 0px;
    height: calc(100vh - 100px);
    border-radius: 0px;
    width: 130px;
  }
}

main nav .navbar-nav {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

@media (min-width: 1025px) {
  main nav .navbar-nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  main nav .navbar-nav :last-child {
    margin-top: auto;
  }
}

main nav .navbar-nav .nav-link a {
  text-decoration: none;
}

main nav .navbar-nav .nav-link a svg {
  height: 35px;
  width: 35px;
  fill: #fff;
}

main nav .navbar-nav .nav-link a p {
  display: none;
}

@media (min-width: 1025px) {
  main nav .navbar-nav .nav-link {
    width: 130px;
    margin-bottom: 50px;
  }
  main nav .navbar-nav .nav-link a svg {
    height: 50px;
    width: 50px;
  }
  main nav .navbar-nav .nav-link a p {
    display: block;
    color: #fff;
  }
}

main nav .navbar-nav .logOut {
  display: none;
}

@media (min-width: 1025px) {
  main nav .navbar-nav .logOut {
    display: inline;
    margin-bottom: 0px;
  }
  main nav .navbar-nav .logOut a svg {
    fill: #EF5675;
    height: 13px;
    width: 15px;
    display: inline;
  }
  main nav .navbar-nav .logOut a p {
    color: #EF5675;
    display: inline;
  }
}

main section {
  padding: 5%;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */