/* colors */
/* Fonts */
.product .topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product .ctgries {
  display: none;
}
@media (min-width: 1024px) {
  .product .ctgries {
    display: inline-block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.product .main_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 37px;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  box-shadow: 0px 0px 18px rgba(0, 63, 92, 0.4);
}
.product .main_bar p {
  font-family: Archivo;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #ef5675;
}
.product .main_bar .actnicn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  visibility: hidden;
}
.product .main_bar .actnicn .icon1 {
  margin: 5%;
  width: 25px;
  height: 20px;
  fill: #EF5675;
}
.product .main_bar .actnicn .icon2 {
  margin: 5%;
  width: 25px;
  height: 20px;
  fill: #7A5195;
}
.product .main_bar .actnicn .icon3 {
  margin: 5%;
  width: 20px;
  height: 15px;
  fill: #FFA600;
}
.product .barToggle {
  height: 200px !important;
}
.product .iconRotation {
  transform: rotate(180deg);
}
.product .bar {
  width: 90%;
  height: 45px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  margin: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 18px rgba(0, 63, 92, 0.4);
  padding: 10px 0;
}
.product .bar .lable_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.product .bar p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Archivo;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #707070;
}
.product .bar .content {
  padding: 2% 0%;
}
.product .bar .content .labs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.product .bar .content .labs .lables .pinky {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Archivo;
  font-weight: normal;
  font-size: 20px;
  padding-left: 10%;
  text-align: center;
  color: #ef5675;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.product .bar .content .labs .lables .subbie {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.product .bar .actnicn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
.product .bar .actnicn .icon1 {
  margin: 5%;
  width: 25px;
  height: 20px;
  fill: #EF5675;
}
.product .bar .actnicn .icon2 {
  margin: 5%;
  width: 25px;
  height: 20px;
  fill: #7A5195;
}
.product .bar .actnicn .icon3 {
  margin: 5%;
  width: 20px;
  height: 15px;
  fill: #FFA600;
  transition: transform 1s ease-in;
}
@media (min-width: 1024px) {
  .product .bar .actnicn .icon3 {
    display: none;
  }
}/*# sourceMappingURL=products.css.map */