/* colors */

$primaryColor1: #003f5c;
$primaryColor2: #ffa600;
$secondaryColor1: #ef5675;
$secondaryColor2: #7a5195;
$dimmedColor: #003f5c63;

/* Fonts */

$fontOne: "Julius Sans One",
sons-serif;
$fontTwo: "Archivo Narrow",
sons-serif;
@mixin flex($display, $fd, $jc, $ai) {
    display: $display;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

$breakpoints: ( "small": 992px, "medium": 1024px, "large": 1200px, ) !default;
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

.profedit {
    @include respond-to(large) {
        padding: 0;
    }
    @include flex(flex, column, center, center);
    width: fill-available;
    padding-bottom: 75px;
    .info {
        @include flex(flex, column, center, center);
        @include respond-to("medium") {
            flex-direction: row;
            align-self: baseline;
            margin-left: 50px;
        }
        margin-top: 5vh;
        .imageUpld {
            position: relative;
            width: 200px;
            height: 200px;
            .image {
                width: 200px;
                height: 200px;
                overflow: hidden;
                border-radius: 100px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            label {
                height: 50px;
                width: 50px;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: #7a519577;
                @include flex(flex, column, center, center);
                border-radius: 25px;
                svg {
                    height: 30px;
                    width: 30px;
                    fill: $secondaryColor2;
                }
            }
            input {
                visibility: hidden;
            }
        }
        .lefty {
            @include flex(flex, column, left, baseline);
            @include respond-to("medium") {
                margin: 20px;
            }
            margin: 20px 0;
            .full_name {
                font-family: "Julius Sans One";
                font-weight: normal;
                font-size: 35px;
                text-align: center;
                color: #000;
                margin: 20px;
            }
            .email {
                font-family: "Julius Sans One";
                font-weight: normal;
                font-size: 28px;
                text-align: center;
                color: #ffa600;
                margin: 20px;
            }
            .pob {
                font-family: "Julius Sans One";
                font-weight: normal;
                font-size: 28px;
                text-align: center;
                color: #ffa600;
                margin: 20px;
            }
        }
    }
    .content {
        padding: 3%;
        @include respond-to("large") {
            padding: 3% 3% 0% 3%;
            @include flex(flex, row, space-between, space-between);
        }
        .form {
            .updtinfo {
                @include flex(flex, column, center, center);
                // margin: 5vh;
                @include respond-to("large") {
                    @include flex(flex, row, start, space-between);
                    flex-wrap: wrap;
                    gap: 20px;
                }
                div {
                    width: 40%;
                    .inputs {
                        width: 85vw;
                        margin: 5px;
                        @include respond-to("large") {
                            margin: 20px;
                            width: 100%;
                        }
                    }
                }
            }
            .pw {
                align-self: baseline;
                font-family: Archivo;
                font-weight: normal;
                font-size: 20px;
                letter-spacing: 0.01em;
                text-align: left;
                color: #ef5675;
                margin-left: 8vw;
                text-decoration: underline;
                margin: 4vh;
            }
            .btns {
                @include flex(flex, column, center, center);
                .primaryBtn {
                    width: 85vw;
                    margin: 5px;
                    @include respond-to("large") {
                        width: 40vh;
                        align-self: baseline;
                        margin: 15px 0px;
                    }
                }
                .secondaryBtn {
                    width: 85vw;
                    margin: 5px;
                    @include respond-to("large") {
                        width: 40vh;
                        align-self: baseline;
                        margin: 15px 0px;
                    }
                }
                .logoutBtn {
                    @include respond-to("medium") {
                        display: none;
                    }
                    @include flex(flex, row, center, center);
                    .icon {
                        width: 15px;
                        height: 15px;
                        fill: #ef5675;
                        margin: 5px;
                    }
                    .logOut {
                        font-family: Archivo;
                        font-weight: normal;
                        font-size: 20px;
                        letter-spacing: 0.01em;
                        text-align: center;
                        color: #ef5675;
                        margin: 5px;
                    }
                }
                .warning {
                    @include respond-to("medium") {
                        visibility: visible;
                        align-self: baseline;
                    }
                    visibility: hidden;
                    font-family: Archivo;
                    font-weight: normal;
                    font-size: 16px;
                    letter-spacing: 0.01em;
                    text-align: left;
                    color: #ef5675;
                    margin: 5px;
                }
            }
        }
        .bigHomoArt {
            @include respond-to("medium") {
                width: 457px;
                height: 335px;
            }
            width: 350px;
            height: 260px;
        }
    }
}

.modalDiv {
    width: 100%;
    height: 0;
    top: 0;
    z-index: 2;
    .model {
        border-radius: 10px;
        padding: 3%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        position: relative;
        width: 60%;
        margin: auto;
        transition: 400ms;
        h1 {
            margin-bottom: 30px;
        }
        .close {
            position: absolute;
            right: 5%;
            top: 5%;
            display: block;
            svg {
                height: 20px;
                width: 20px;
                fill: $secondaryColor1;
            }
        }
        .addModalSection {
            .inputs {
                width: 100%;
                margin-bottom: 30px;
            }
            .btn {
                width: 100%;
            }
        }
    }
    .passwordModel {
        transform: translateY(-200%);
        z-index: 2;
    }
    .activeModel {
        transform: translateY(-300%);
        z-index: 2;
    }
}